{% extends "layout.html" %}

{% block main_content %}
    <section class="task-list">
    {% for task in tasks %}
        {% set completed = task["_id"] in completions %}
        {% if completed %}
        <div class="task completed">
            <p class="task__name">
                {{ task["name"] }}
            </p>
            <svg class="task__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
        </div>
        {% else %}
            <div class="task">
                <form method="POST" class="task__form" action="{{ url_for('tasks.complete') }}">
                    <input type="hidden" name="taskId" value="{{ task['_id'] }}" />
                    <input type="hidden" name="date" value="{{ selected_date }}" />
                    <button type="submit" class="task__button">
                        {{ task["name"] }}
                    </button>
                </form>
            </div>
        {% endif %}


    {% endfor %}
    </section>
{% endblock %}
